@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

*{ margin: 0;
padding: 0;
box-sizing:  border-box;
font-family: 'Lora', serif;
 }
 /* banner css start */
 .banner{
 	position: relative;
 	width:  100%;
 	height: 100vh;
 	background: #A7F1E7;
 	display:  flex;
 	justify-content: center;
 	align-items: center;
 }
 .banner img{
 	position:absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height:100%;
 	object-fit: cover;
 	opacity: 0.25;
 	
 }
 .banner .content{
 	position: relative;
 	max-width: 750px;
 	text-align: center;
 }
 .banner .content h3{
 	color:  #fff;
 	font-size: 60px;
 }
 .banner .content p{
 	color:  #fff;
 	font-size: 18px;
 }
 .banner header{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	padding: 40px 100px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	z-index: 10000;
 }
 .banner header .logo{
 	color: #fff;
 	text-decoration: none;
 	font-size: 24px;
 	text-transform: uppercase;
 	font-weight: 700;
 	letter-spacing: 1px;
 }
 .banner header .toggle{
 	position: relative;
 	width: 36px;
 	height: 28px;
 	background: url('../images/menu.png');
 	background-size: cover;
 	cursor: pointer;
 }
/* banner css end */
 /* aboutus css start */
.about{
	position: relative;
	width: 100%;
	display: flex;}
.about .contentBX{
	background: #162c3b;
	padding: 100px;
	width: 50%;

}
.heading{
color: #fff;
font-size: 30px;
font-weight: 600;
letter-spacing: 1px;
}
.text{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}
.about .imgBX{
	background: url('../images/about.jpg');
	width: 50%;
	background-size: cover;
	background-position: center;
	



}

/* aboutus css end */





/* Services Start */
.services{
	background: #12222d;
	padding: 100px;
	text-align: center;
}
.services .container{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
	

}
.services .container .serviceBX{
	position: relative;
	background: #fff;
	width: 350px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.services .container .serviceBX img
{
max-width: 100px;
}
.services .container .serviceBX h2
{
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}
/* Services css end */



/* Technology css start */
.technology
{
background: #3f8ffc;
width: 100%;
padding: 100px;
padding-top: 300px;
margin-top: -300px;
display: flex;
justify-content: space-between;
align-items: center;
}
.technology .contentBX
{
max-width: 800px;
}
.technology .imgBX
{
	max-width: 100%;
}
.technology .imgBX img
{
	max-width: 300px;
}
/* Technology css End */


/* client css start */
.client
{
	background: #162c3b;
	padding: 100px;
	text-align: center;
}
.client .imgBX
{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
}
.client .imgBX img
{
	max-width: 200px;
	margin:  20px;
	opacity: 0.25;
	cursor: pointer;
}

.client .imgBX img:hover
{
	opacity: 1;
}
/* client css end */
/* Testimonials start */
.testimonials
{
	position: relative;
	padding: 100px;
	width: 100%;
	
	background: #12222d;
	text-align: center;
}
.testimonials .container
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
} 
.testimonials .container .contentBX
{
	background: #fff;
	padding: 60px 50px;
	max-width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;

}

	.testimonials .container .contentBX p
{
	font-style: italic;
}
.testimonials .container .contentBX h3
{
	width: 100%;
	text-align: end;
	font-weight: 500;
	color: #3f8ffc;
}
/* Testimonials end */

/* Contact start */
.contact
{
	padding: 100px;
	background: #162c3b;
	text-align: center;
}
.imgBX.imgBX2
{
	background: url('../images/contact.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
}
.contentBX.redBG
{
	background: url('../images/form.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
}
.form .inputBX
{
	margin-bottom: 40px;
}
.form .inputBX input
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.form .inputBX input::placeholder
{
	color: #fff;
}


.form .inputBX textarea
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	min-height: 150px;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.form .inputBX textarea::placeholder
{
	color: #fff;
}
.form .inputBX input[type="submit"]
{
	width: 150px;
	background: #fff;
	color: #111;
	cursor: pointer;
	font-weight: 400p;
}
/* Contact End */
/* Footer css start */

.footer
{
	background:  #162c3b;
	padding: 20px 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer ul
{
display: flex;
justify-content: center;
align-items: center;
}
.footer ul li
{
	list-style: none;
}

.footer ul li a
{
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}
.footer ul li a img
{
	filter:invert(1);
	max-width: 20px;
}


 /* Footer css end*/
@media (max-width: 991px)
{
	.banner
	{
		padding: 50px;
	}
	.banner header
	{
		padding: 20px 50px;
	}
	.banner .content h2
	{
		font-size: 36px;
	}
	.banner .content p
	{
		font-size: 16px
	}
	.about
	{
		flex-direction: column;
	}
	.about .contentBX,
	.about .imgBX
	{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}

.services
{
padding: 50px;
}
.services .container
{
	justify-content: center;
	margin-top: 20px;
}
.services .container .serviceBX
{
	margin: 20px;
	width: 300px;
	height: 350px;
}
.technology
{
	padding: 70px;
	padding-top: 1000px;
	justify-content: center;
	flex-direction: column;
}
.technology .imgBX
{
	margin-top: 40px;
	max-width: 350px;
}
.client
{
	padding: 50px;
}
.client .imgBX
{
	justify-content: center;
	flex-direction: column;
}
.testimonials
{
	padding: 50px;
}
.testimonials .contentBX
{
padding: 60px 40px;
max-width: 550px;
margin-bottom: 40px;
}

.testimonials .contentBX:last-child
{
	margin-bottom: 0px;
}

.contact
{
padding: 50px;
}
.footer
{
	padding: 20px 50px;
	flex-direction: column-reverse;
	text-align: center;
}
.footer li
{
	margin-bottom: 20px;
}
.footer ul li a img
{
	margin-top: 25px;
}
}








































/* Services End */
